/* Global colors */
:root {
  --action-color: #0079FF;
  --null-color: #807a86;
  --error-color: #ff0000;

  /* Pico */
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}

/* Light Mode */
[data-theme='light'],
:root:not([data-theme='dark']) {
  --primary: #b024ff;

  /* Pico */
  --primary-hover: #9600e0;
  --primary-inverse: #FFF;
  --primary-focus: rgba(176, 36, 255, 0.125);

  --primary-bg: #F6F8FF;
  --secondary-bg: #697C9A;
  --primary-text: #000000;
  --secondary-text: #201f24;
  --box-shadow: 0px 16px 30px -10px #4660bb33;
}

/* Dark Mode */
[data-theme='dark'] {
  --primary: #b024ff;

  /* Pico  */
  --primary-hover: #9600e0;
  --primary-inverse: #FFF;
  --primary-focus: rgba(176, 36, 255, 0.25);

  --primary-bg: #0D0915;
  --secondary-bg: #4F555978;
  --primary-text: #ffffff;
  --secondary-text: #d4d3d3;
  --box-shadow: none;
}
