/* Global colors */
:root {
  --primary-font: 'Source Code Pro';
  --secondary-font: 'Cousine';

  --icon-color: rgba(175, 36, 255, 0.764);
  --action-text: #0079FF;
  --null-text: rgba(142, 139, 139, 0.76);
  --error-color: #ff0000;

  /* Pico */
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}

/* Light Mode */
[data-theme='light'],
:root:not([data-theme='dark']) {
  --primary: #b024ff;

  /* Pico */
  --primary-hover: #9600e0;
  --primary-inverse: #FFF;
  --primary-focus: rgba(176, 36, 255, 0.125);

  --primary-bg: #F6F8FF;
  --secondary-bg: #dcdcdc44;
  --primary-text: #000000;
  --secondary-text: #5b7093;
  /* --null-text: rgba(53, 53, 53, 0.654); */
  --null-text: #7f94b9;
}

/* Dark Mode */
[data-theme='dark'] {
  --primary: #b024ff;

  /* Pico  */
  --primary-hover: #9600e0;
  --primary-inverse: #FFF;
  --primary-focus: rgba(176, 36, 255, 0.25);

  --primary-bg: #0D0915;
  --secondary-bg: #11191f;
  --primary-text: #ffffff;
  --secondary-text: #d4d3d3;
  --null-text: #5b7093;
}
