/* Custom Class-less version for Svelte */

// Set the root element
$semantic-root-element: '#app';

// Enable <header>, <main>, <footer> inside $semantic-root-element as containers
$enable-semantic-container: false;

// Enable .classes
$enable-classes: true;

// Import Pico
@import '@picocss/pico/scss/pico';
